.modal-backdrop {
    --bs-backdrop-opacity: 1;
    --bs-backdrop-bg: rgba(40, 40, 40, 0.7);
    backdrop-filter: blur(6px);
}

.b-overlay > .bg-dark {
    opacity: 1 !important;

    --bs-bg-opacity: 0.7;
    --bs-dark-rgb: 40, 40, 40;
    backdrop-filter: blur(6px);
}

.modal-content {
    position: relative;
    width: 100%;
    color: $black;
    pointer-events: auto;
    background-color: #2d2d2d;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    border-radius: 30px;
    box-shadow: none;
    outline: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;

    &.modal-content__custom {
        padding: 50px;
        gap: 50px;
    }

    .modal-button-close {
        opacity: 0.5;
        font-size: 17px;
        line-height: 17px;
        height: 39px;
        width: 39px;
        color: rgba(255, 255, 255, 1);
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        background: transparent;
        outline: none;
        border: 1px solid transparent;
        transition: 0.3s all;
        border-radius: 13px;
        padding: 10px;

        &:hover {
            background: rgba(255, 255, 255, 0.08);
            border-color: #ffffff;
            opacity: 1;
        }
        &:active {
            opacity: 1;
            color: rgba(255, 255, 255, 0.75);
            background: transparent;
            border-color: rgba(255, 255, 255, 0.3);
        }
    }

    .modal-droplex {
        transition: 0.3s all;
        width: 130px;
    }

    .signin {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .signin__title {
            text-transform: uppercase;
            font-weight: 700;
            // font-size: 24px;
            // line-height: 29px;
            font-size: 22px;
            line-height: 27px;
            color: rgba(255, 255, 255, 1);
        }
        .signin__description {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.modal-dialog-minimum {
    --bs-modal-width: 424px;
}

.custom-modal__wrapper {
    --bs-modal-width: 872px;

    .custom-modal {
        display: flex;
        flex-direction: column;
        position: static;
        gap: 50px;
        padding: 0;

        .custom-modal__title {
            color: #fff;
            font-size: 32px;
            font-weight: 600;
            line-height: normal;
        }
    }
}
