$font-family: 'Mulish', sans-serif;
$primary: rgba(246, 81, 82, 1);
$primary-80: rgba(246, 81, 82, 0.8);
$primary-75: rgba(246, 81, 82, 0.75);
$primary-50: rgba(246, 81, 82, 0.5);
$primary-25: rgba(246, 81, 82, 0.25);
$primary-20: rgba(246, 81, 82, 0.2);
$primary-15: rgba(246, 81, 82, 0.15);
$primary-10: rgba(246, 81, 82, 0.1);
$primary-08: rgba(246, 81, 82, 0.08);
$primary-hover: rgba(247, 98, 99, 1);
$primary-active: rgba(197, 65, 66, 1);
$selection-bg: rgba(246, 81, 82, 0.8);
$selection-color: rgba(255, 255, 255, 0.9);
$error: rgba(244, 69, 69, 1);
$succeed: rgba(45, 173, 0, 1);

$header-height: 100px;
$header-height-1200: 84px;
$header-height-768: 76px;

$zindex-menu: 12;
$zindex-mobile-menu: 11;
$zindex-input-button: 1;
