.cabinet {
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #2d2d2d;
    padding: 60px;

    .cabinet__hello {
        color: #fff;
        font-size: 28px;
        font-weight: 500;
        line-height: normal;

        b {
            font-weight: 800;
        }
    }
}

.cabinet-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    background-color: #343434;
    padding: 25px;
    width: 100%;
    position: relative;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s all ease;

    &.cabinet-block__bg- {
        &password {
            background-image: url(../images/backgrounds/change-password.png);
        }

        &email {
            background-image: url(../images/backgrounds/change-email.png);
        }

        &totp {
            background-image: url(../images/backgrounds/change-2fa.png);
        }

        &lag-zone {
            background-image: url(../images/backgrounds/lag-zone.png);
        }

        &authenticator {
            background-image: url(../images/backgrounds/authenticator.png);
        }

        &money {
            background-image: url(../images/backgrounds/money.png);
        }

        &hd-buy {
            background-image: url(../images/backgrounds/hd-buy.png);
        }

        &hd-buy {
            background-image: url(../images/backgrounds/hd-buy.png);
        }

        &hd-skin,
        &hd-cloak,
        &hd {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                background-position: bottom right;
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0.5;
                transition: 0.3s all ease;
            }

            &:hover {
                background: #404040;
                box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.05);

                &::after {
                    opacity: 1;
                }
            }

            & > * {
                z-index: 1;
            }
        }

        &hd-skin::after {
            background-image: url(../images/backgrounds/hd-skin.png);
        }

        &hd-cloak::after {
            background-image: url(../images/backgrounds/hd-cloak.png);
        }

        &hd::after {
            background-image: url(../images/backgrounds/hd.png);
        }
    }

    &.cabinet-block__mini {
        width: 307px;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    .cabinet-block__button {
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .cabinet-block__head {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 506px;

        &.mini {
            max-width: 357px;
        }
    }

    .cabinet-block__name {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3px 5px;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-size: 22px;
        font-weight: 600;
        line-height: normal;

        span {
            text-align: right;
            color: rgba(255, 255, 255, 0.5);
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
        }
    }

    .cabinet-block__description {
        color: rgba(255, 255, 255, 0.5);
        font-size: 18px;
        font-weight: 500;
        line-height: normal;

        a {
            color: rgba(255, 255, 255, 0.75);
        }
    }

    .cabinet-block__body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .cabinet-block__buttons {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 6px 11px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
    }

    .cabinet-block__text {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;

        b {
            font-weight: 600;
        }
    }

    .cabinet-block__discount {
        position: absolute;
        top: -1px;
        right: -75px;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.15);
        color: rgba(255, 255, 255, 0.75);
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        padding: 5px 10px;
    }
}

.skin__2d {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    height: 342px;
    overflow: hidden;

    img {
        height: inherit;
    }
}

.skin__3d {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    height: 342px;
    overflow: hidden;

    img {
        height: inherit;
    }
}

.balance {
    border-radius: 16px;
    border: 2px solid #474747;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 13px 10px 12px 10px;
    background: #383838;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.balance__rubles {
        background-image: url(../images/backgrounds/balance-rubles.png);

        .balance__amount,
        .balance__text {
            color: #f0a22b;
        }
    }

    &.balance__coins {
        background-image: url(../images/backgrounds/balance-coins.png);

        .balance__amount,
        .balance__text {
            color: #49d1da;
        }
    }

    .balance__text {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
    }

    .balance__amount {
        color: #fff;
        font-size: 36px;
        font-weight: 800;
        line-height: normal;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
    }
}

.data-block {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 19px 10px 19px 30px;
    border-radius: 13px;
    border: 2px solid #474747;
    background: #383838;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .data-block__text {
        color: rgba(255, 255, 255, 0.61);
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
    }

    .data-block__value {
        margin-top: -5px;
        color: #fff;
        font-size: 23px;
        font-weight: 700;
        line-height: normal;

        b {
            font-size: 35px;
            font-weight: 800;
        }
    }

    &.data-block__broken-blocks {
        background-image: url(../images/backgrounds/data-broken-blocks.png);
    }

    &.data-block__deaths {
        background-image: url(../images/backgrounds/data-deaths.png);
    }

    &.data-block__murders {
        background-image: url(../images/backgrounds/data-murders.png);
    }

    &.data-block__supplied-blocks {
        background-image: url(../images/backgrounds/data-supplied-blocks.png);
    }
}

.qr-code {
    width: 100%;
    height: 231px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    overflow: hidden;

    img {
        object-fit: contain;
        object-position: center;
        width: 199px;
    }
}

.balance-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    border-radius: 20px;
    background-color: #343434;
    padding: 30px 39px 20px 39px;
    width: 100%;
    position: relative;
    transition: 0.3s all;
    cursor: pointer;

    .balance-block__factor {
        position: absolute;
        top: 18px;
        right: 18px;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(8px);
        color: rgba(255, 255, 255, 0.75);
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        padding: 5px 10px;
        z-index: 1;
    }

    .balance-block__image {
        width: 160px;
        height: 143px;
        opacity: 0.5;
        transition: 0.3s all;
    }

    &:hover,
    &.active {
        scale: 1.1;

        .balance-block__image {
            opacity: 1;
            scale: 1.1;
        }
    }

    &.active {
        box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.05),
            0px 0px 0px 2px inset #ffffff;
    }
}

.balance-text {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    z-index: 1;
}

.balance-bonus {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .balance-bonus__text {
        color: #828282;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
    }

    .balance-bonus__value {
        border-radius: 13px;
        box-shadow: 0px 0px 0px 2px inset #3f3f3f;
        padding: 14.5px 16px;
        min-width: 100px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
    }
}

.donate-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 36px;
    min-height: 198px;
    border-radius: 13px;
    border: 2px solid #3f3f3f;
    background-color: #343434;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 18px;
    position: relative;

    &.donate-block__item- {
        &1 {
            background-image: url(../images/donates/item-1.png);
        }
        &2 {
            background-image: url(../images/donates/item-2.png);
        }
        &3 {
            background-image: url(../images/donates/item-3.png);
        }
        &4 {
            background-image: url(../images/donates/item-4.png);
        }
    }

    .donate-block__chapter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .donate-block__name {
        color: #fff;
        font-size: 30px;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
    }

    .donate-block__amount {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
    }
}

.shop-block {
    border-radius: 13px;
    border: 2px solid #3f3f3f;
    background: #3a3a3a;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;

    .shop-block__text {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
        text-align: center;
    }

    .shop-block__image {
        border-radius: 13px;
        background: #404040;
        padding: 5px;

        img {
            width: 140px;
            height: 140px;
            object-fit: cover;
            object-position: center;
        }
    }

    .shop-block__footer {
        margin-top: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
}

.block__image {
    border-radius: 13px;
    background: #404040;
    padding: 5px;

    img {
        width: 140px;
        height: 140px;
        object-fit: cover;
        object-position: center;
    }
}

.catalog-skin {
    padding: 5px 20px;
    border-radius: 19px;
    background: #3f3f3f;
    box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.05);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 290px;
    overflow: hidden;

    .catalog-skin__preview {
        height: 280px;
        width: 139px;
    }

    img.catalog-skin__preview {
        height: 260px;
        width: 139px;
        object-fit: contain;
        object-position: center;
    }

    .catalog-skin__button {
        position: absolute;
        bottom: -69px;
        opacity: 0;
        transition: 0.3s all;
        border-radius: 19px;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(20px);
        padding: 10px;
        width: 100%;
    }

    &:hover {
        .catalog-skin__button {
            bottom: 0;
            opacity: 1;
        }
    }
}
