.footer {
    width: 100%;
    margin: 0;
    display: block;

    .footer__content {
        width: 100%;
        position: relative;
        overflow: hidden;
        padding: 37px 0;
        background: rgba(33, 33, 33, 1);
        margin: 200px 0 0 0;
        display: block;

        @media screen and (max-width: 1400px) {
            padding: 30px 0;
        }

        @include media-breakpoint-down(md) {
            margin: 125px 0 0 0;
        }

        .footer__container {
            display: flex;
            flex-direction: row;
            gap: 50px;

            @media (max-width: 1400px) {
                gap: 30px;
            }

            @include media-breakpoint-down(xl) {
                display: grid;
                grid-template-columns: 1fr auto 2fr;
                overflow: visible;
            }

            @media (max-width: 720px) {
                grid-template-columns: auto auto;
            }

            @media (max-width: 600px) {
                grid-template-columns: 1fr auto;
            }

            @media (max-width: 520px) {
                grid-template-columns: auto;
                grid-template-rows: 90px auto;
                justify-items: center;
            }

            * {
                flex: 0 1 20%;
            }

            div:nth-of-type(3) {
                @include media-breakpoint-down(xl) {
                    display: none;
                }
            }

            .footer__logo {
                display: flex;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                }

                img {
                    width: 100%;
                    display: block;
                }
            }

            .footer__hr {
                flex: 0 1 1px !important;
                background: rgba(52, 52, 52, 1);
                min-width: 1px;

                @include media-breakpoint-down(xl) {
                    width: 1px;
                    height: 100%;
                }

                @media (max-width: 720px) {
                    display: none;
                }
            }

            .footer__menu {
                display: flex;
                flex-direction: column;
                gap: 20px 0;

                &.footer__menu-main {
                    flex: 0 1 31% !important;
                }

                @media (max-width: 520px) {
                    display: none;
                }

                .footer__title {
                    color: rgba(255, 255, 255, 1);
                    font-weight: bold;
                    position: relative;
                    font-size: 20px;
                    line-height: 24px;
                    display: block;

                    &::before {
                        content: "";
                        background: url(../images/footer-title-icon.svg);
                        position: absolute;
                        top: -3px;
                        left: -10px;
                        width: 30px;
                        height: 30px;
                    }
                }

                .footer__links {
                    gap: 10px;
                    margin: 0 0 0 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .footer__links-item {
                        width: fit-content;
                        color: rgba(255, 255, 255, 0.5);
                        line-height: normal;
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: 500;
                        position: relative;
                        transition: 0.3s all ease;

                        &:hover,
                        &:active {
                            color: rgba(255, 255, 255, 1);
                        }

                        &[class*=" icon__"] {
                            font-size: 30px;
                            line-height: 30px;
                            flex: 0 0 30px;
                            height: 30px;
                        }
                    }
                }
            }

            .footer__question {
                display: flex;
                gap: 20px;
                flex-direction: column;

                @media (max-width: 520px) {
                    width: 100%;
                    align-items: center;
                }

                .footer__title {
                    color: rgba(255, 255, 255, 1);
                    font-weight: bold;
                    position: relative;
                    font-size: 20px;
                    display: block;
                    line-height: 24px;

                    &::before {
                        content: "";
                        background: url(../images/footer-title-icon.svg);
                        position: absolute;
                        top: -3px;
                        left: -10px;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}
